In [2]:
my_liste=[2,3,6]
y=1
for x in range(0,len(my_liste),1):
    y=y*my_liste[x]
    
print(y)

36

In [5]:
list=[(2,5),(1,2),(4,4),(2,3),(2,1)]
list.sort() 
print(list)

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [6]:
list=[(2,5),(1,2),(4,4),(2,3),(2,1)]
list.sort(reverse=True) 
print(list)

[(4, 4), (2, 5), (2, 3), (2, 1), (1, 2)]

In [17]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
d3={}
for i in d1:
    if i in d2:
        d3[i]=d1[i]+d2[i]
    if i not in d2:
        d3[i]=d1[i]
for i in d2:
    if i not in d1:
        d3[i]=d2[i]
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [13]:
n=int(input("enter a number: "))
dic={}
for x in range(1,n+1,1):
    dic[x]=x*x
print(dic)

enter a number: 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
price = [('item1', '12.20), ('item2','15.10'), ('item3','24.45')]